---
layout: default
---
<main>
	<section class="ad d-cssCentered">
		<h1 class="ad-title">Movie Mornings</h1>
		
		<div class="ad-text">
			<p class="ad-text-p">Welcome to our tech-savvy community where we merge the worlds of cinema and technology! At our meetups, we dive into fascinating tech topics through the lens of short films. Join us for engaging discussions, insightful debates, and networking opportunities, all wrapped up in a dynamic 30-minute Microsoft Teams gathering.</p>

			<p class="ad-text-p">Each session features carefully curated scifi short films, about 10 minutes over average, that explore various aspects of technology, innovation, and digital culture. After the screenings, we delve into deep discussions, dissecting the tech themes portrayed in the films, sharing insights, and exchanging ideas.</p>

			<p class="ad-text-p">Whether you're a tech enthusiast, a film buff, or simply curious about the intersection of technology and storytelling, our meetups offer a unique and stimulating experience. Connect with like-minded individuals, expand your knowledge, and be part of a vibrant community passionate about exploring the endless possibilities of technology.</p>

			<p class="ad-text-p">Join us on Saturday mornings for an enlightening blend of film screenings, tech discussions, and camaraderie.</p>
		</div>
		
		<a href="https://wa.me/27630478534?text=Hello%20Mother" class="ad-link">https://</a>
	</section>
	
	<footer class="footer">&copy; Copyrights 2024 <a href="https://intobinary.org">Into Binary</a>. All Rights Reserved.</footer>
</main>