---
layout: default
---
	{% for i in (1..4) %}
	<input type="radio" id="rdb4aspect{{ i }}" name="rdbs4aspects"{% if forloop.index == 3 %}{% endif %} />{% for j in (1..3) %}
		<input type="radio" id="rdb4subAspect{{ i }}{{ j }}" name="rdbs4subAspect{{ i }}"{% if forloop.first %} checked{% endif %} />{% endfor %}{% endfor %}
		
	<main>
		<input type="checkbox" id="chkbx4coupon" name="chkbx4coupon" />
		
		<section class="coupon"><div class="u-container">
			<div class="coupon-paper side-left">
				NAO Research
			</div>
			<div class="coupon-code side-right">
				Madam Ella was part of the 'Robot in Residence' cohort, a robotics research program created and sponsored by the German Goethe Insitut.
				<br />
				<br />
				Contact Madam Ella to get updates of the project's evolution this 2024, from robotics talks to journals and papers. Every quarter is an upgrade in the project research.
				<br />
				<br />
				Contact:
				<br />
				(+27) 63 047 8534
				<br />
				madam.ella@intobinary.org
			</div>
		</div></section>
		
		<!--
		<section class="coupon"><div class="u-container">
			<div class="coupon-paper side-left">
				The first class is free!
			</div>
			<div class="coupon-code side-right">
				Call us today!
				<br />
				<br />
				Phone Number:
				<br />
				(+27) 63 047 8534
			</div>
		</div></section>
		-->

		<nav class="nav"><div class="u-container">
			<div class="u-container-half side-left">
				<a href="https://intobinary.org" class="nav-logo">
					<img src="assets/images/logo-icon_white_www-dot-intobinary-dot-org.png" class="nav-logo-img" />
				</a>
				<a href="https://intobinary.org" class="nav-h1">
					<img src="assets/images/logo-words_black_www-dot-intobinary-dot-org.png" class="nav-h1-img" />
				</a>
			</div>
			
			<div class="u-container-half side-right">
				<div class="nav-cta">
					<label for="chkbx4coupon" class="nav-cta-button u-coupon-button"><img src="assets/images/icon_nao_green.png" class="nav-logo-img" /></label>

					<a href="https://wa.me/27630478534" class="nav-cta-button u-cta-button">Whatsapp Us Now</a>
					
					<!--
					<a href="https://fb.com/IntoBinary" class="nav-cta-link"><img src="assets/images/icon_facebook_black.png" class="nav-cta-link-icon" /></a>
					-->
				</div>
			</div>
		</div></nav>
		
		<section class="aspects"><div class="d-midWrap">
			<header class="aspects-header"><div class="aspects-header-wrap">{% for file in site.data.aspects %}<label for="rdb4aspect{{ forloop.index }}" class="aspects-header-link u-link">{% for data in file %}<span class="aspects-header-link-title d-font_bold">For {{ data[0] | replace: " (", "</span><br /><span class='aspects-header-link-subtitle'>(" | replace: ")", ")</span>" }}{% endfor %}</label>{% endfor %}</div></header>
			
			<div class="aspects-content">
				<div class="aspects-content-header">
					<!--
					<h5 class="u-subtitle">Welcome</h5>
					<h2 class="u-title">Give these coding _ a try.</h2>
					-->
				</div>
				
				<div class="aspects-content-details"><ul class="aspects-content-details-list">{% for file in site.data.aspects %}
					<li class="aspects-content-details-list-item">{% assign iAspects = forloop.index %}
						<nav class="aspects-content-details-nav"><label for="rdb4subAspect{{ forloop.index }}1" class="aspects-content-details-nav-link u-link">Beginner Coder</label><label for="rdb4subAspect{{ forloop.index }}2" class="aspects-content-details-nav-link u-link">Expert Coder</label><label for="rdb4subAspect{{ forloop.index }}3" class="aspects-content-details-nav-link u-link">Non Coder</label></nav>
						{% for data in file %}{% for content in data[1] %}
						<div class="aspects-content-details-box nthChild-{{ iAspects }}{{ forloop.index }}">
							<hgroup>
								<h5 class="u-subtitle">Welcome</h5>
								<h2 class="u-title">{% if iAspects == 1 %}Read, Write, Count, <span class="d-color_green">Code</span>!{% elsif iAspects == 2 %}Dream, Prototype, <span class="d-color_green">Program</span>, Deliver!{% elsif iAspects == 3 %}Explore, <span class="d-color_green">Develop</span>, Progress, Thrive!{% elsif iAspects == 4 %}Observe, Extract, <span class="d-color_green">Compile</span>, Publish!{% endif %}</h2>
							</hgroup>
							
							<p>Here is a sample project we do at Into Binary: <span class="d-font_bold">"{% for text in content %}{{ text[1] }}{% endfor %}"</span> Try it at home, or come to us and we'll help you grow!</p>
						</div>{% endfor %}{% endfor %}
					</li>{% endfor %}
				</ul></div>
			</div>
		</div></section>
		
		<section class="greetings d-midWrap">
			<!--
			<hgroup class="greetings-hgroup">
				<h5 class="u-subtitle">Welcome</h5>
				<h2 class="u-title">Read, Write, Count, Code!</h2>
			</hgroup>
			-->
		</section>

		<section class="section-part1">
			<header class="header u-container"><div class="u-container-half">
				<h5 class="header-subtitle u-subtitle">Made in Africa by Africans</h5>
				
				<p class="header-title">See here! See here! <br />Have a look at the products the mentees at <img src="assets/images/logo-words_green_www-dot-intobinary-dot-org.png" class="header-title-logo" alt="Into Binary" /> have built!</p>
				
				<p>Join us and you too will soon have a portfolio this wonderful! Download <a href="/assets/files/into-binary-brochure.pdf" download>the brochure</a> and learn more about us!</p>
			</div></header>

			<section class="cards u-container"><div class="u-container-half"><ul class="cards-list">
				<li class="cards-list-item" data-position="1"><a href="https://alphazet.corporomalala.com" class="card" title="Click to visit the live site." >
					<h3 class="card-title">Word Game</h3>
					<figure class="card-img">&nbsp;</figure>
				</a></li>
				<li class="cards-list-item" data-position="2"><a href="https://practice-interview-questions.intobinary.org" title="Click to visit the live site." class="card" >
					<figure class="card-img">&nbsp;</figure>
					<h3 class="card-title">Quiz App</h3>
				</a></li>
				<li class="cards-list-item" data-position="3"><a href="https://radio.intobinary.org" class="card" title="Click to visit the live site." >
					<figure class="card-img">&nbsp;</figure>
					<h3 class="card-title">Radio App</h3>
				</a></li>
				<li class="cards-list-item" data-position="4"><a href="https://shop.intobinary.org" class="card" title="Click to visit the live site." >
					<h3 class="card-title">Templates</h3>
					<figure class="card-img">&nbsp;</figure>
				</a></li>
			</ul></div></section>

			<section class="mockups u-container"><div class="u-container-half">
				<ul class="mockups-list">
					<li class="mockups-list-item"><div class="mockup"><img src="assets/images/placeholder-phone.png" class="mockup-img" /></div></li>
					<li class="mockups-list-item"><div class="mockup"><img src="assets/images/placeholder-phone.png" class="mockup-img" /></div></li>
					<li class="mockups-list-item"><div class="mockup"><img src="assets/images/placeholder-phone.png" class="mockup-img" /></div></li>
				</ul>
				
				<div class="mockups-background style-new"></div>
			</div></section>
		</section>
		
		<section class="section-part2">
			<section class="scholarships u-container"><div class="scholarships-wrap">
				<div class="scholarships-content">
					<div class="scholarships-content-text">
						<p>Did you know we had a scholarship fund aswell?</p>
					</div>
					
					<div class="scholarships-content-cta">
						<a href="https://scholarships.intobinary.org" class="scholarships-content-cta-button u-cta-button">Read about the fund!</a>
					</div>
				</div>

				<figure class="scholarships-ambassador">
					<img src="assets/images/photo_mentee_grayscale.png" class="scholarships-ambassador-img" />
				</figure>
			</div></section>
		<!--
			<div class="programs-header u-container">
				<h5 class="programs-header-subtitle u-subtitle">The Programs</h5>
			</div>
			-->

			<section class="programs">
				<div class="programs-wrap">
					<ul class="programs-list">
						<li class="programs-list-item"><div class="program">
							<span class="u-subtitle">Benefit 1</span>
							<h5 class="program-name">Tech Tutoring</h5>
							<p class="program-description">It has been proven that students learn better by analysis, not memorization. With the focus of one-on-one mentorship, we get to dive into child’s school syllabus. We build our coding projects as we 'revise' their school's tech books. We discuss every paragraph or every practice question. And they get to see the practical implications of each theory "live" with our projects.</p>
						</div></li>
						
						<li class="programs-list-item"><div class="program">
							<span class="u-subtitle">Benefit 2</span>
							<h5 class="program-name">Portfolio Building</h5>
							<p class="program-description">This is often wanted by college students prepping for the workforce. We teach them how to set up and structure their code the way companies do. And with every project, they gain the coding experience for CV.</p>
						</div></li>
						
						<li class="programs-list-item"><div class="program">
							<span class="u-subtitle">Benefit 3</span>
							<h5 class="program-name">Robotics</h5>
							<p class="program-description">Artificial Intelligence is the powerhouse of robotics. A machine without code is just a piece of junk! Let the programming experts teach your kids the coding needed to put life into hardware. And soon enough, your kid too will be able to join Madam Ella in the prestigious Nao Program.</p>
						</div></li>
					</ul>
				</div>
			</section>
			
			<img src="assets/images/placeholder-1x1.png" class="programs-matrix" />
		</section>

		<section class="section-part4 AI u-container">
			<section class="u-container-half">
				<video class="AI-figure-video" controls>
					<source src="assets/videos/DaVinci.mp4" />
				</video>
				<a href="https://davinci.intobinary.org" class="AI-figure-link u-cta-button">Paint like AI DaVinci!</a>
			</section>
			<section class="u-container-half">
				<h5 class="u-subtitle">Our mantra</h5>
				<h2 class="u-title">We don't fear AI, we build AI!</h2>
				<div class="AI-content-text">
					<p class="AI-content-text-p">In the era of AI, it isn't just enough to jot down a few lines of code. It is vital to be able to code so well that AI cannot replace you. At Into Binary, we mentor students into becoming the architects of AI themselves!</p>
					<p class="AI-content-text-p">See, long before AI became mainstream, our students had coded "DaVinci." With the click of a button, the computer was programmed to generate art in various styles, with unparalled precision and creativity -- from the realistic simulations of Sim cities to the Mondrian compositions, transforming ordinary shapes into captivating works of art.</p>
					<p class="AI-content-text-p">Madam Ella thought them how to create this AI painter, from scratch! These mentees are ready to face the future of tech!<!-- At Into Binary, we don't just teach coding, we ignite the spark of creation within you.--></p>
				</div>
			</section>
		</section>

		<section class="section-part3">
			<section class="quote">
				<h5 class="quote-subtitle u-subtitle">Meet the Mentor</h5>
				<blockquote class="quote-content u-title"><cite class="quote-content-cite">Madam Ella</cite> says: <q class="quote-content-q">The 4th Industrial Revolution is Africa's moment to leapfrog.</q></blockquote>
			</section>

			<section class="madam u-container"><div class="madam-wrap u-container-half">
				<p>Madam Ella is keen to meet with you and discuss your needs. Contact her on <a href="https://wa.me/27630478534">whatsapp</a>, by <a href="mailto:madam.ella@intobinary.org">email</a>, or book an appointment with this <a href="https://book-appointment.intobinary.org" class="">chat bot</a>.</p>
			
				<img src="assets/images/madam-ella_www-dot-intobinary-dot-org_blackandwhite.png" class="madam-img" />
				<img src="assets/images/placeholder-1x1.png" class="madam-matrix" />
			</div></section>

			<section class="ads u-container"><div class="ads-wrap u-container-half">
				<div class="ads-links">
					<a href="https://instagram.com/ib_madewithlove" class="ads-facebook" >
						<img src="assets/images/placeholder-1x1.png" class="ads-facebook-placeholder" />
						<h6 class="ads-facebook-title">Instagram</h6>
					</a>
					
					<ul class="ads-list">
						<li class="ads-list-item"><a href="" class="ad" >
							<img src="assets/images/placeholder-1x1.png" class="ad-placeholder" />
						</a></li>
						<li class="ads-list-item"><a href="" class="ad" >
							<img src="assets/images/placeholder-1x1.png" class="ad-placeholder" />
						</a></li>
						<li class="ads-list-item"><a href="" class="ad" >
							<img src="assets/images/placeholder-youtube.png" class="ad-placeholder" />
						</a></li>
					</ul>
				</div>
			</div></section>
		</section>

		<section class="brochure">
			<div class="brochure-header"><div class="brochure-header-wrap u-container">
				<p class="brochure-header-title">What's so great about Into Binary?</p>

				<p class="brochure-header-details">The primary goal of Into Binary’s mentoring programs is to facilitate software engineering skills and mastery over mere coding.</p>
				
				<div class="brochure-header-cta u-cta"><a href="/assets/files/into-binary-brochure.pdf" class="u-cta-button" download>Download The Brochure</a><br /><span>** made in 2021, outdated.<br />we have elvolved since!</span></div>
			</div></div>

			<div class="brochure-content u-container">
				<div class="u-container-half">
					<figure class="brochure-content-figure">
						<a href="/assets/files/into-binary-brochure.pdf" class="brochure-content-figure-a" download>
							<img src="assets/images/brochure-mockup.png" class="brochure-content-figure-img" />
							
							<div class="brochure-content-figure-extra">
								Click to download <br />the PDF file.
							</div>
						</a>
					</figure>
					
					<div class="brochure-content-details">	
						<p class="brochure-content-details-title">Why you should download our brochure?</p>
						
						<div class="brochure-content-details-reasons"><ul class="brochure-content-details-reasons-list">
							<li class="brochure-content-details-reasons-list-item"><div class="brochure-content-details-reason">
								<p>Get to know how we work. We prioritize the pace of the student's syllabus. Our focal point is technological ingenuity and academic excellence.</p>
							</div></li>
							
							<li class="brochure-content-details-reasons-list-item"><div class="brochure-content-details-reason">
								<p>Meet the Mentor. Meet Madam Ella, the founder of Into Binary. And check out some selected work. We have built games, apps, websites and more.</p>
							</div></li>
							
							<li class="brochure-content-details-reasons-list-item"><div class="brochure-content-details-reason">
								<p>Understand what we do best. We give personalized programs for any age group. Our service offer is based on measurable and result-focused lab projects.</p>
							</div></li>
						</ul></div>
					</div>
				</div>
				
				<div class="u-container-half">
					<form action="https://formspree.io/f/xvolnyko" class="brochure-content-form js-form u-form" method="post">
						<h5 class="brochure-content-form-title u-subtitle">Ready to join Into Binary?</h5>
						
						<p class="brochure-content-form-status js-form-status">&nbsp;</p>
						
						<fieldset class="brochure-content-form-fieldset">
							<div class="brochure-content-form-fieldset-single">
								<label class="u-form-label">Full Name of Mentee *</label>
								<input type="text" class="u-form-input" name="student" required />
							</div>
							
							<div class="brochure-content-form-fieldset-double">
								<label class="u-form-label">Aspect *</label>
								<select class="u-form-input" name="world" required>{% for file in site.data.aspects %}
									<option>For {% for data in file %}{{ data[0] }}{% endfor %}</option>{% endfor %}
								</select>
							</div>
							
							<div class="brochure-content-form-fieldset-double">
								<label class="u-form-label">Level *</label>
								<select class="u-form-input" name="level" required>
									<option>Beginner Coder</option>
									<option>Expert Coder</option>
									<option>Non Coder</option>
								</select>
							</div>
							
							<!--
							<div class="brochure-content-form-fieldset-double">
								<label class="u-form-label">Program *</label>
								<select class="u-form-input" name="program" required>
									<option>Beginner Dev</option>
									<option>Deep Programming</option>
									<option>Tech Tutoring</option>
									<option>Portfolio Building</option>
								</select>
							</div>
							
							<div class="brochure-content-form-fieldset-double">
								<label class="u-form-label">Age Group *</label>
								<select class="u-form-input" name="age" required>
									<option>8-13</option>
									<option>13-19</option>
									<option>19-27</option>
									<option>27-33</option>
									<option>33-40</option>
									<option>40+</option>
								</select>
							</div>
							-->
							
							<div class="brochure-content-form-fieldset-double">
								<label class="u-form-label">Phone *</label>
								<input type="phone" class="u-form-input" name="phone" required />
							</div>
							
							<div class="brochure-content-form-fieldset-double">
								<label class="u-form-label">Email *</label>
								<input type="email" class="u-form-input" name="email" required />
							</div>
							
							<div class="brochure-content-form-fieldset-single">
								<label class="u-form-label">What do you want to build?</label>
								<textarea type="text" class="u-form-textarea" name="extra" placeholder="In your wildest dreams, what is it that you wish you could create? Write as much details as you need. Madam Ella's mentorship will guide you to it."></textarea>
							</div>
							
							<input type="submit" class="u-form-submit u-cta-button" name="submit" value="Register Me" />
						</fieldset>
					</form>
				</div>
			</div>
		</section>

		<footer class="footer u-container"><div class="u-container-half">
			<p class="footer-text">&copy; Copyrights 2024 <a href="https://intobinary.org">Into Binary</a>. All rights reserved.</p>
		</div></footer>
	
	<script src="assets/scripts/www-dot-intobinary-dot-org.js"></script>
	</main>